body, html{
  margin: 0;
  font-family: sans-serif;
}


.image{
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
  width: 100%;

  background: url("../image/215.jpg") center;
  
}


.image_title{
  font-size: 100px;
  font-weight: 400px;
  color: #fff;
  line-height: 1;

  opacity: 0; /* начальное значение непрозрачности */
  animation: fadeIn ease-in 1; /* добавляем анимацию fadeIn */
  animation-fill-mode: forwards; /* будет видимым после завершения анимации */
  animation-duration: 2s; /* длительность анимации в 2 секунды */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.image__inner{
  width: 1100px;
  margin: 0 auto;
  text-align: center;
  
}


.header{
  background-color: rgba(150, 150, 150, 0.5);
  width: 100%;
  position: fixed;
    margin: 0;
}

.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.knopka1{
  font-size: 25px;
  border-radius: 50px;
  width: 300px;
  height: 100px;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  color: #fff;

}


.logo{
  font-size: 70px;
  font-weight: bold;
  color: #fff;
  margin-left: 25px;
  
}




.nav{
  font-size: 25px;
  text-transform: uppercase;
  margin-right: 30px;

}


.nav__link{
  color: #fff;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
}

/* 2 страница */

.image_inner2{
  width: 100%;
  height: 100vh;

  justify-content: space-between;

  background: url("../image/251.jpg") center no-repeat;
}



.image3{
width: 1500px;
margin: 10px;

display: flex;
align-items: center;
flex-direction: row-reverse;




}



.messages{
  color: #fff;
  font-size: 60px;
  font-weight: bold;
  margin-left: 100px;
  margin-top: 5px;
}
.text{
  font-size: 45px;
  color: black;
  font-family: sans-serif;
  line-height: 1.4;

  
  border-radius: 25px;
  background: rgb(150, 150, 150);
  box-shadow: -21px 23px 69px -14px rgba(0,0,0,1);
  height: 700px;
  width: 700px;
  text-align: center;

  margin-left: 100px;
  margin-top: 50px;
}


/*3 страница*/


.image2{
  display: flex;
  flex-direction: column;
  justify-content:center ;


  background: grey;
  width: 100%;
  height: 100vh;
  
  
}



.messages2{
  margin: 0 auto;
  
  padding: 10px;

  
  border-radius: 50px;
  background: rgb(170, 170, 170);
  box-shadow: 1px -53px 170px -14px rgba(0,0,0,1);

  font-size: 50px;
  font-weight: bold;
  width: 1000px;
  
  text-align: center;
  
}

.text2{
  

  font-size: 20px;
  width: 1700px;
  
  

}


.figure{
  display: flex;
  justify-content: space-between;
 
  
}



.container6 {
    font-family: "Montserrat", sans-serif;
    color: black; 
}

.information {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    line-height: 30px;
}

.address {
    margin: 0px 100px 10px 30px; 
}

.number {
    margin: 0px 15px 10px 100px; 
}

.network {
    margin: 0px 15px 10px 400px; 
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

.vk_img {
    display: flex;
    align-content: center;
    margin-top: 20px;
}

.github_img {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
}

.infotxt {
    margin: 40px 0px 40px 0px;
}

.network_txt { 
    color: #ebebeb;
    text-decoration: none;
    padding-top: 10px;
    padding-left:20px;
}

.network_txt1 {
    display: flex;
    justify-content: center;
    color: #ebebeb;
    text-decoration: none;
    padding-top: 15px;
    padding-left: 20px;  
}

.vk_github {
    width: 50px;
    height: 50px;
}

.network a:hover {
    color: rgb(83, 74, 206);
}


















